<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>2529627840-vmbge3nh9lclaluhu881he5qgedjd4kb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2529627840-vmbge3nh9lclaluhu881he5qgedjd4kb</string>
	<key>API_KEY</key>
	<string>AIzaSyAaTeuIu__shVVgOL8D2Lko3dPvzGDbSSo</string>
	<key>GCM_SENDER_ID</key>
	<string>2529627840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-62c1b</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-62c1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2529627840:ios:2acb05dee805093ec12725</string>
</dict>
</plist>